.search {
  padding: 5px;
  width: 80%;
}

.searchLine {
  border: none;
  background-color: #232323;
  color: #ccc;
  opacity: 70%;
  border-color: white;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}
