.allElement{
    margin: 10px 10px 0px;
    padding: 10px;
}

.title{
    margin: 5px;
    color: #ccc;
    border-bottom: 2px solid #ccc;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.rbWithName{
    color: #ccc;
}