@import "normalize.css";
@import "sanitize.css";

.allPage {
  background-image: url(images/Cyberpunk.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.search{
    padding: 5px;
    width: 80%;
}

.searchLine{
    border: none;
    background-color: #232323;
    color: #ccc;
    opacity: 70%;
    border-color: white;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}

.block {
    background-color: #23232375;
    margin: 10px 10px 0px;
    padding: 10px;
    border-radius: 15px;
    width: 90%;
}

.blockHeader {
    margin: 5px;
    color: #ccc;
    border-bottom: 2px solid #ccc;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.blockContent{
    width: fit-content;
    position: relative;
    margin:0 auto;
}

.blockContentElement{
    display: inline;
    margin: 10px 20px 10px;
}