@import "normalize.css";
@import "sanitize.css";

footer{
    background-color: rgb(0, 23, 155);
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
    height: 150px;
}

.slogan{
    margin: 5px;
    font-family:'Times New Roman', Times, serif;
    font-size: 14pt;
    color: #cff;
    text-align: center;
}

.list{
    display: flex;
    align-self: center;
}

.element{
    display: inline;
    padding: 4px;
}