.image{
    width: 100%;
    background-color: #ccc;
    border-radius: 15px;
}

.inputWrapper{
    margin-left: 20%;
    width: 80%;
    max-width: 150px;
    height: 50px;
    position: relative;
    text-align: center;
    margin-top: 25px;
}

@mixin position () {
    position: absolute;
    margin-top: 0;
    top:0;
    left: 0;
}

.button{
    opacity: 0;
    @include position();
}

.label{
    @include position();
    background-color: #8823ff;
}

.buttonName{
    cursor: pointer;
    margin-top: 12px;
}