.allPage {
  background-image: url(images/darkestDungeon.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
  min-height: 800px;
}

.filtrationBlock {
  width: 30%;
  height: 100%;
}

.rightPart {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.topLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.createButton {
  background-color: #8823ff;
  color: #ccc;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

.createButton:active {
  box-shadow: 0 0 7px 2px #8823ff;
}

.gamesBlock {
  display: inline;
}
