nav {
    height: 38px;
}

.navbar{
    margin: 0;
    background-color: rgb(34, 34, 34);
    width: fit-content;
}

.navbutton{
    display: inline;
}

.navlink{
    color: #ccc;
    text-decoration: none;
    padding: 18px 10px 12px;
}

.navbarBtn{
    outline: none;
    border: none;
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10px 0;
    color: #ccc;
    height: 38px;
}

@mixin hoverable () {
    background-color: lighten(rgb(34,34,34), 30%);
    border-bottom: 2px solid lighten(rgb(34,34,34), 30%);
    color: #fff;
}

.navlink:hover{
    @include hoverable();
}

.navbarBtn:hover{
    @include hoverable();
}

.active{
    color: #fff;
    border-bottom: 3px solid #a3f;
    background-color: lighten(rgb(34,34,34), 15%);
}