$backgroundColor: #232323f0;
$color: #ccc;
$buttonColor: #8823ff;

.form{
    background-color: $backgroundColor;
    color: $color;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header{
    width: calc(100% - 40px);
    margin: 10px 20px 10px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 18pt;
    color: lighten($color, 20%);
}

.closeBtn{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #0000;
    color: $color;
}

.button{
    margin-top: 25px;
    min-width: 150px;
    width: 25%;
    height: 55px;
    border-radius: 15px;
    align-self: center;
    font-size: 14pt;
}

.button:active{
    box-shadow: 0 0 7px 2px $buttonColor;
}